<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ cat.name }}</title>
    <link rel="stylesheet" href="styles_item.css">
</head>
<body>
<div class="templates-page-container">
    <div class="cat-image-section">
        <img src="{{ cat.image.url }}" alt="{{ cat.name }}">
    </div>
    <div class="cat-details-section">
        <h1>{{ cat.name }}</h1>
        <!--        <p class="product-price">${{ product.price }}</p>-->
        <!--        <p><strong>Author:</strong> {{ product.author }}</p>-->
        <!--        <p><strong>Genre:</strong> {{ product.genre }}</p>-->
        <!--        <p><strong>Type:</strong> {{ product.get_item_type_display }}</p>-->
        <!--        <p><strong>Published:</strong> {{ product.publish_date }}</p>-->
        <!--        <p class="product-description">{{ product.description }}</p>-->
        <p><strong>Description</strong> {{ cat.description }}</p>
        <!--        <button class="add-to-cart">Add to Cart</button>-->
        <a href="{% url 'item_list' %}" class="back-to-list">Back to cats List</a>
    </div>
</div>
</body>
</html>
