<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cats</title>
</head>
<body>
<div class="container">
    <h2 align="center">Наши коты</h2>
    <div class="cat-grid">
        <div class="cat-card">
            <h3 align="center">Снежок</h3>
            <center><img src="default.png" alt="Не удалось загрузить изображение."></center>
            <p class="description" align="center"> Отсутствует </p>
            <p align="center">Справочная информация.</p>
            <!--            <button>Добавить в корзину</button>-->
        </div>
    </div>
</div>
</body>
</html>
